include *.rst *.txt MANIFEST.in *.py tox.ini
recursive-include tools *.py
graft doc
graft doc/_static
graft doc/_templates
graft py2app_tests
graft py2app/apptemplate
graft py2app/bundletemplate
graft examples
global-exclude .DS_Store
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude *.dSYM
global-exclude *.dSYM/*
global-exclude *__pycache__*
prune examples/*/build
prune examples/*/dist
prune examples/*/*/build
prune examples/*/*/dist
prune examples/*/*/*/build
prune examples/*/*/*/dist
