include *.txt MANIFEST.in *.py
graft doc
graft doc/_static
graft doc/_templates
graft py2app_tests
graft py2app/apptemplate
graft py2app/bundletemplate
graft examples
global-exclude .DS_Store
global-exclude *.pyc
global-exclude *.so
global-exclude *.dSYM
global-exclude *__pycache__*
prune py2app/apptemplate/prebuilt/main*.dSYM
prune py2app/bundletemplate/prebuilt/main*.dSYM
prune py2app_tests/*.dSYM
prune examples/*/build
prune examples/*/dist
prune examples/*/*/build
prune examples/*/*/dist
prune examples/*/*/*/build
prune examples/*/*/*/dist
